{% extends 'main_base.html' %}
{% block content %}

		<table border ="1">
	
		<thead>
			<tr>
				<th style="width: 12em">Pozycja</th>				
				<th center>Treść ustawy</th>
				<th class="sortable asc" data-name="title">Tytuł</th>
			</tr>
	
					{% for result in data %}
					{% if result.rok == 2017 %}
			<tr>
				<td>Dz.U. {{result.rok}} poz. {{result.nr_ustawy}}</td>			
				<td  ><a href={{result.link}} >link do dokumentu </a> </td>
				<td>{{result.tytul}}</td>
			
			</tr>
			{% endif %}
			{% endfor %}

		</thead>
		
		</table>
 

{% endblock %}
	