{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel ="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>
<div class="container2">	
	<form id="lista_ustaw">			
		<nav class="w3-bar w3-black">
			<img class="mySlides2" src="{% static 'photo/0.png' %}" style="width:100%">
			<a href="{% url 'home_page' %}" class="w3-button w3-bar-item">Home</a>
			<a href="{% url 'roczniki' %}" class="w3-button w3-bar-item">Rocznmiki</a>
			<a href="{% url 'statystyki' %}" class="w3-button w3-bar-item">Statystyki</a>
			<a href="{% url 'rozwiniecie' %}" class="w3-button w3-bar-item">Rozwinięcie projektu</a>
		</nav> 			
		
{% block content %}

{% endblock %}

		<br>
		<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  			<a href="{% url 'kontakt' %}">
				<i class="fa fa-facebook-official">Kontakt</i>
			</a>
 			<a href="{% url 'omnie' %}">
				<i class="fa fa-pinterest-p">O mnie</i> 
			</a>
  			<a href="{% url 'regulamin' %}">
				<i class="fa fa-twitter">Regulamin</i>
			</a>
		</footer>
</form>	
</div>

</html>
	