

{% extends 'main_base_page.html' %}
{% block content %}

{% load static %}
		<h1 >Kilka słów o mnie</h1>
		<br>
		Hej,<br>
		Nazywam się Krzysztof Skibicki i jestem studentem 4 roku informatyki Uniwersytetu Mikołaja Kopernika w Toruniu.<br>
		Z zawodu jestem informatykiem a z zamiłowania tańczę taniec współczesny od prawie 8 lat. <br><br>
		
		<section>
 		 <img class="mySlides" src="{% static 'photo/1.jpg' %}" style="width:100%">
  		 <img class="mySlides" src="{% static 'photo/2.jpg' %}" style="width:100%">
  		 <img class="mySlides" src="{% static 'photo/3.jpg' %}" style="width:100%">		
		</section>
		<br>
		Dodatkowo od 10 glat gram amatorsko na gitarze elektrycznej i klasycznej. Poniżej można zobaczyć moją dumę!
		<img class="mySlides2" src="{% static 'photo/4.jpg' %}" style="width:100%">


		<script>

			var myIndex = 0;
			carousel();

			function carousel()
			{
			  var i;
			  var x = document.getElementsByClassName("mySlides");
			  for (i = 0; i < x.length; i++) 
			  {
				x[i].style.display = "none";
			  }
			  myIndex++;
			  if (myIndex > x.length) {myIndex = 1}
			  x[myIndex-1].style.display = "block";
			  setTimeout(carousel, 2000);
			}
		</script>
{% endblock %}