
{% extends 'main_base_page.html' %}
{% block content %}

{% load static %}
		<br>
		<center><h2>Moja praca inżynierska</h2></center>
		<br><br>
		Zakładka ta poświęcona jest tematyce mojej pracy inżynierskiej do której ta strona będzie użyta.<br>
		Aktualna wersja strony jeste wersją "beta" gdyż domyślnie chciał bym alby każda podstrona była wegenerowana za pomocą skryptu Pythona a następnie zaczytana do HTML. 
		Do pozyskania danych chciał bym użyć bibloteki zwanej <b><a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a></b> która z pomocą pythona pomoże mi w zautomatyzowany sposób pobrać dane ze strony.
		Całość prawodopodobnie będzie spinała się razem z bazą danych Postgres którą w dopowiedni sposób będę musiał zabezpieczyć.
		Kwestia bezpieczeństwa danych jest w tym wypadku najważniejsza i jednocześnie najtrudniejsza.
		Dane muszą być przechowywane w taki sposób aby nawet administrator bazy danych nie był w stanie wywnioskować kto oddał głos na tak lub na nie gdyż takie są załorzenia referendum a jednocześnie mieć możliwość zarządania bazą danych. 
		Kwestia zakładania konta oraz weryfikacji konta także jest sprawą istotną nad którą muszę się pochylić. 
		Sam projekt prawdopodobnie nie ujży światła dziennego poza naszą uczelnią ale jest swego rodzaju gotowym narzędziem to poprawieniu stanu demokracji o któej tak wiele się ostastnio słyszy.
		W ramach zaliczenia przedmiotu strona została przygotowana z użyciem głównie HTML i CSS orazd do wglądu głównie dla gościa.
		Wersja dla użydkownika będzie gotowa wraz z rozwojem pracy inżynierskiej oraz części kodowej.
		<br>
		<br>
		<img src="{% static 'photo/6.jpg' %}" style="width:100%">
		<br>
		<br>
{% endblock %}
	