{% extends 'main_base_page.html' %}
{% block content %}	
		<br>
		<a href="2021" >
			<center>
				<h1>Ustawy z rocznika 2021</h1>
			</center>
		</a>		<br>
		<a href="2020" >
			<center>
				<h1>Ustawy z rocznika 2020</h1>
			</center>
		</a>		<br>
		<a href="2019" >
			<center>
				<h1>Ustawy z rocznika 2019</h1>
			</center>
		</a>
		<br>
		<a href="2018" >
			<center>
				<h1>Ustawy z rocznika 2018</h1>
			</center>
			<br>
			<a href="2017" >
			<center>
				<h1>Ustawy z rocznika 2017</h1>
			</center>
		</a>		<br>
		<a href="2016" >
			<center>
				<h1>Ustawy z rocznika 2016</h1>
			</center>
		</a>		<br>
		<a href="2015" >
			<center>
				<h1>Ustawy z rocznika 2015</h1>
			</center>
		</a>		<br>
		<a href="2014" >
			<center>
				<h1>Ustawy z rocznika 2014</h1>
			</center>
		</a>		<br>
		<a href="2013" >
			<center>
				<h1>Ustawy z rocznika 2013</h1>
			</center>
		</a>		<br>			 
		</a>
{% endblock %}