{% extends 'main_base_page.html' %}
{% block content %}	
		<br>
		<h4>W wersji dla gościa możesz zobaczyć w jaki sposób będzie można odczytać wyniki opini publicznej na temat danej ustawy. Dla przykłądu weźmy ustawę :</h4>
		<br>
		<a href="https://isap.sejm.gov.pl/isap.nsf/download.xsp/WDU20180000300/O/D20180300.pdf">Dz.U. 2018 poz. 300 - </a> Obwieszczenie Marszałka Sejmu Rzeczypospolitej Polskiej z dnia 11 stycznia 2018 r. w sprawie ogłoszenia jednolitego tekstu ustawy o kosztach sądowych w sprawach cywilnych.
		<br>
		<br>
		Wykres będzie wyglądał w następujący sposób: 
		<center><div id="piechart"></div>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<script type="text/javascript">
			google.charts.load('current', {'packages':['corechart']});
			google.charts.setOnLoadCallback(drawChart);
		
			function drawChart() {
  			var data = google.visualization.arrayToDataTable([
  ['Osoby', 'Głosy'],
  ['Za', 452],
  ['Przeciw', 534],
]);


  var options = {'title':'Wyniki głosowania', 'width':650, 'height':500};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>
	</center>
{% endblock %}
	