{% extends 'main_base_page.html' %}
{% block content %}

{% load static %}

		<br>
		<center><h2>Witaj na mojej stronie</h2></center>
		Znajdziesz na niej informacje dotyczące wprowadzonych ostatnio ustawa przez rząd polski.<br>
		Strona ta ma na celu rozpowszechnienie ogólnodostępnej wiedzy oraz zwiększenie świadomości obywatela w zakresie wiedzy prawnej wystosowanej przez władzę.<br>
		Strona zakłada że po zalogowaniu się do serwisu będzie można ocenić czy dana ustawa jest dobra lub nie i porównanie sowjego wyboru do ogółu opini społeczniej.
		<br>
		<img class="mySlides2" src="{% static 'photo/5.jpg' %}" style="width:100%">

	{% endblock %}
	